.App {
  box-sizing: border-box;
  line-height: normal !important;

  background-image: url('../src/imgs/landing-bg2.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position-x: -75px;
  background-position-y: -100px;

  background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar {
  display: none;
}

.react-player{
  width: 100% !important;
  height: 100% !important;
}

.carousel-item{
  padding-right: 45px;
  padding-left: 15px;
}

.MuiCardContent-root{
  padding: 0 !important;
}

.MuiDrawer-paper {
  width: 100%;
}

.faq .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(135deg) !important;
}
.cases .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg) !important;
}
.cases .MuiAccordion-root:before,
.faq .MuiAccordion-root:before{
  height: 0px;
}



@media (min-width : 600px) {

  .carousel-item{
    border-left: 1px solid #00000040;
  }
  .carousel-item:first-child{
    border: none;
  }

  .MuiDrawer-paper {
    width: 350px;
  }

  .react-player{
    height: auto !important;
  }
}

@media (min-width : 768px) {
  .App {
      background-image: url('../src/imgs/landing-bg2.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}

@media (min-width : 992px) {
  .App {
      background-image: url('../src/imgs/landing-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}