.App {
  box-sizing: border-box;
  line-height: normal !important;

  background-image: url('../src/imgs/landing-bg2.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position-x: -75px;
  background-position-y: -100px;

  background-color: #F5F5F5;
}

.scroll-bar::-webkit-scrollbar {
  display: none;
}

.react-player{
  width: 100% !important;
  height: 100% !important;
}

.MuiCardContent-root{
  padding: 0 !important;
}

.MuiDrawer-paper {
  width: 100%;
}

.faq .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(135deg) !important;
}
.cases .css-yw020d-MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg) !important;
}
.cases .MuiAccordion-root:before,
.faq .MuiAccordion-root:before{
  height: 0px;
}

.slider-animation{
  animation-name: slide;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
@keyframes slide {
  0%   {left: 0;}
  15%  {left: -370px;}
  30%  {left : -740px;}
  45%  {left : -1110px;}
  60%  {left : -1480px;}
  75% {left : 0px}
  100% {left: 0px;}
}

@media (min-width : 600px) {
  .MuiDrawer-paper {
    width: 350px;
  }

  .react-player{
    height: auto !important;
  }

  @keyframes slide {
    0%   {left: 0;}
    15%  {left: -473px;}
    30%  {left : -946px;}
    45%  {left : -1419px;}
    60%  {left : -1892px;}
    75% {left : 0px}
    100% {left: 0px;}
  }
}

@media (min-width : 768px) {
  .App {
      background-image: url('../src/imgs/landing-bg2.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}

@media (min-width : 992px) {
  .App {
      background-image: url('../src/imgs/landing-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}