.App {
  box-sizing: border-box;
  line-height: normal !important;

  background-image: url('../src/imgs/landing-bg2.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position-x: -75px;
  background-position-y: -100px;
}

.MuiDrawer-paper {
  width: 100%;
}

@media (min-width : 600px) {
  .MuiDrawer-paper {
    width: 350px;
  }
}

@media (min-width : 768px) {
  .App {
      background-image: url('../src/imgs/landing-bg2.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}

@media (min-width : 992px) {
  .App {
      background-image: url('../src/imgs/landing-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 0px;
      background-position-y: 0px;
  }
}